<template name="_tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Tab 1" path="tabs.one" icon="android-home"}}
      {{> ionTab title="Tab 2" path="tabs.two" icon="android-star"}}
      {{> ionTab title="Tab 3" path="tabs.three" icon="heart"}}
      {{> ionTab title="Tab 4" path="tabs.four" icon="gear-b"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Home" path="tabs.one" iconOff="ios-list-outline" iconOn="ios-list"}}
      {{> ionTab title="Chat" path="tabs.two" iconOff="ios-chatboxes-outline" iconOn="ios-chatboxes"}}
      {{> ionTab title="Community" path="tabs.three" iconOff="ios-people-outline" iconOn="ios-people"}}
      {{> ionTab title="Me" path="tabs.four" iconOff="ios-gear-outline" iconOn="ios-gear"}}
    {{/ionTabs}}
  {{/if}}
</template>
