<template name="newPost">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Forms</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

{{#autoForm collection="Lmingposts" doc=post id="new-lmingpost" type="insert" buttonContent="Save Post"}}
  {{> afQuickField name="title"}}
  {{> afQuickField name="body"}}
  {{> afQuickField name="picture"}}
  <div class="button-bar">
    <button type="submit" class="button icon ion-android-send button-positive">Submit</button>
  </div>
{{/autoForm}}


   {{/ionContent}}
  {{/ionView}}
</template>
